 :root {
    --y-scales-white: #ffffff;
    --y-scales-blue-gray-0: #f2f3f6;
    --y-scales-blue-gray-10: #EDEFF2;
    --y-scales-blue-gray-20: #d8dee6;
    --y-scales-blue-gray-30: #b5bfcf;
    --y-scales-blue-gray-40: #a7b1c0;
    --y-scales-blue-gray-50: #8c98ab;
    --y-scales-blue-gray-60: hsla(217, 12%, 48%, 1);
    --y-scales-blue-gray-70: hsla(216, 16%, 36%, 1);
    --y-scales-blue-gray-75: hsla(216, 17%, 24%, 1);
    --y-scales-blue-gray-80: hsla(217, 20%, 21%, 1);
    --y-scales-blue-gray-90: hsla(217, 20%, 14%, 1);
    --y-scales-blue-gray-100: hsla(220, 29%, 10%, 1);
    --y-scales-gray-0: #ffffff;
    --y-scales-gray-10: #f7f7f8;
    --y-scales-gray-20: #E8E9EA;
    --y-scales-gray-30: #dcdfe4;
    --y-scales-gray-40: #c5c6c9;
    --y-scales-gray-50: #afb1b6;
    --y-scales-gray-60: #a0a2a7;
    --y-scales-gray-70: #7c7e83;
    --y-scales-gray-80: #545659;
    --y-scales-gray-90: #2d2d2f;
    --y-scales-gray-100: #141415;
    --y-scales-brand-blue-0: #F4F6FD;
    --y-scales-brand-blue-10: #ecf1ff;
    --y-scales-brand-blue-20: #d9e4ff;
    --y-scales-brand-blue-30: #b3caff;
    --y-scales-brand-blue-40: #90b2fb;
    --y-scales-brand-blue-50: #6696ff;
    --y-scales-brand-blue-60: #3374FF;
    --y-scales-brand-blue-70: #0051ff;
    --y-scales-brand-blue-80: #003ab8;
    --y-scales-brand-blue-90: #001f63;
    --y-scales-brand-blue-100: #04153c;
    --y-scales-purple-10: #f7f3ff;
    --y-scales-purple-20: #efe8fe;
    --y-scales-purple-30: #dfd0fe;
    --y-scales-purple-40: #CEB7FF;
    --y-scales-purple-50: #AE87FF;
    --y-scales-purple-60: #996CF3;
    --y-scales-purple-70: #855BDD;
    --y-scales-purple-80: #6535C9;
    --y-scales-purple-90: #401D84;
    --y-scales-purple-100: #2d1877;
    --y-scales-red-10: #fdf5f5;
    --y-scales-red-20: #ffd3d3;
    --y-scales-red-30: #ffa8a8;
    --y-scales-red-40: #ff6666;
    --y-scales-red-50: #f42d2d;
    --y-scales-red-60: #d81919;
    --y-scales-red-70: #cc0000;
    --y-scales-red-80: #8f0d0d;
    --y-scales-red-90: #610909;
    --y-scales-red-100: #360505;
    --y-scales-green-10: #E3F6F1;
    --y-scales-green-20: #C4F2E8;
    --y-scales-green-30: #81E4CE;
    --y-scales-green-40: #57DBBD;
    --y-scales-green-50: #2DD1AC;
    --y-scales-green-60: #1BBB97;
    --y-scales-green-70: #0C9778;
    --y-scales-green-80: #09715A;
    --y-scales-green-90: #064B3C;
    --y-scales-green-100: #042F25;
    --y-scales-orange-10: #ffd4a3;
    --y-scales-orange-20: #ffbd71;
    --y-scales-orange-30: #ffa43d;
    --y-scales-orange-40: #ff961f;
    --y-scales-orange-50: #fb8600;
    --y-scales-orange-60: #cc6d00;
    --y-scales-orange-70: #a35700;
    --y-scales-orange-80: #7b4200;
    --y-scales-orange-90: #4e2b03;
    --y-scales-orange-100: #321b01;
    --y-scales-yellow-10: #f4cc7c;
    --y-scales-yellow-20: #efb94d;
    --y-scales-yellow-30: #edb035;
    --y-scales-yellow-40: #eba71e;
    --y-scales-yellow-50: #d99712;
    --y-scales-yellow-60: #ba800d;
    --y-scales-yellow-70: #9a6a09;
    --y-scales-yellow-80: #755006;
    --y-scales-yellow-90: #4e3503;
    --y-scales-yellow-100: #322201;
    --y-scales-decoration-green: #82d173;
    --y-scales-decoration-brown: #2d2d2a;
    --y-scales-decoration-gray: #535d6e;
    --y-scales-decoration-navy-blue: #0d3b66;
    --y-scales-decoration-blue: #89bbfe;
    --y-scales-decoration-pink: #ce7da5;
    --y-scales-decoration-red: #ff4e4e;
    --y-scales-decoration-orange: #ff8552;
    --y-scales-decoration-yellow: #fdca40;
    --y-scales-decoration-dark-green: #6bab5e;
    --y-scales-decoration-dark-brown: #252523;
    --y-scales-decoration-dark-gray: #444e5e;
    --y-scales-decoration-dark-navy-blue: #0b3153;
    --y-scales-decoration-dark-blue: #7099cf;
    --y-scales-decoration-dark-pink: #a96788;
    --y-scales-decoration-dark-red: #d14040;
    --y-scales-decoration-dark-orange: #d16d43;
    --y-scales-decoration-dark-yellow: #d0a634;
    /* day */
    --y-bg-20: var(--y-scales-blue-gray-0);
    --y-bg-30: var(--y-scales-gray-20);
    --y-bg-40: var(--y-scales-gray-30);
    --y-bg-light-brand: var(--y-scales-brand-blue-0);
    --y-bg-brand: var(--y-scales-brand-blue-70);
    --y-bg-dark: var(--y-scales-blue-gray-75);
    --y-bg-dark-brand: var(--y-scales-brand-blue-100);
    --y-bg-light: var(--y-scales-gray-0);
    --y-bg-primary: var(--y-scales-gray-10);
    --y-bg-disabled-bg: var(--y-scales-blue-gray-10);
    --y-bg-skeleton-fill: var(--y-scales-blue-gray-10);
    --y-bg-blocked-bg: var(--y-scales-red-20);
    --y-input-bg: var(--y-scales-gray-0);
    --y-input-border: var(--y-scales-blue-gray-20);
    --y-border-border-10: var(--y-scales-blue-gray-0);
    --y-border-border-20: var(--y-scales-blue-gray-10);
    --y-border-brand: var(--y-scales-brand-blue-70);
    --y-text-primary: var(--y-scales-blue-gray-75);
    --y-text-secondary: var(--y-scales-blue-gray-70);
    --y-text-tertiary: var(--y-scales-blue-gray-90);
    --y-text-placeholder20: var(--y-scales-blue-gray-50);
    --y-text-placeholder10: var(--y-scales-blue-gray-40);
    --y-text-disabled: var(--y-scales-gray-60);
    --y-text-inverse: var(--y-scales-gray-0);
    --y-text-brand: var(--y-scales-brand-blue-70);
    --y-text-risk: var(--y-scales-yellow-50);
    --y-text-danger: var(--y-scales-red-70);
    --y-text-success: var(--y-scales-green-70);
    --y-primaries-brand-blue: var(--y-scales-brand-blue-70);
    --y-primaries-red: var(--y-scales-red-70);
    --y-primaries-green: var(--y-scales-green-50);
    --y-primaries-orange: var(--y-scales-orange-50);
    --y-primaries-yellow: var(--y-scales-yellow-40);
    --y-primaries-purple: var(--y-scales-purple-60);
    --y-btn-text: var(--y-scales-blue-gray-75);
    --y-btn-hover-text: var(--y-scales-blue-gray-70);
    --y-btn-bg: var(--y-scales-gray-0);
    --y-btn-hover-bg: var(--y-scales-gray-10);
    --y-btn-border: var(--y-scales-blue-gray-10);
    --y-btn-hover-border: var(--y-scales-blue-gray-20);
    --y-btn-active-bg: var(--y-scales-gray-10);
    --y-btn-secondary-text: var(--y-scales-blue-gray-70);
    --y-btn-secondary-hover-text: var(--y-scales-blue-gray-70);
    --y-btn-secondary-bg: var(--y-scales-blue-gray-0);
    --y-btn-secondary-hover-bg: var(--y-scales-blue-gray-10);
    --y-btn-secondary-border: var(--y-scales-blue-gray-10);
    --y-btn-secondary-hover-border: var(--y-scales-blue-gray-20);
    --y-btn-secondary-active-bg: var(--y-scales-blue-gray-20);
    --y-btn-primary-text: var(--y-scales-brand-blue-70);
    --y-btn-primary-hover-text: var(--y-scales-brand-blue-80);
    --y-btn-primary-bg: var(--y-scales-brand-blue-70);
    --y-btn-primary-hover-bg: var(--y-scales-brand-blue-60);
    --y-btn-primary-border: var(--y-scales-brand-blue-70);
    --y-btn-primary-hover-border: var(--y-scales-brand-blue-60);
    --y-btn-primary-active-bg: var(--y-scales-brand-blue-70);
    --y-btn-action-text: var(--y-scales-green-60);
    --y-btn-action-hover-text: var(--y-scales-green-70);
    --y-btn-action-bg: var(--y-scales-green-50);
    --y-btn-action-hover-bg: var(--y-scales-green-60);
    --y-btn-action-border: var(--y-scales-green-60);
    --y-btn-action-hover-border: var(--y-scales-green-70);
    --y-btn-action-active-bg: var(--y-scales-green-60);
    --y-btn-danger-text: var(--y-scales-red-50);
    --y-btn-danger-hover-text: var(--y-scales-red-70);
    --y-btn-danger-bg: var(--y-scales-red-50);
    --y-btn-danger-hover-bg: var(--y-scales-red-70);
    --y-btn-danger-border: var(--y-scales-red-50);
    --y-btn-danger-hover-border: var(--y-scales-red-70);
    --y-btn-danger-active-bg: var(--y-scales-red-80);
    --y-btn-generic-active-border: var(--y-scales-brand-blue-70);
    --y-btn-generic-focus-outline: #384dc7;
    --y-btn-generic-disabled-text: var(--y-scales-gray-60);
    --y-btn-generic-disabled-bg: var(--y-scales-blue-gray-10);
    --y-btn-generic-disabled-border: var(--y-scales-gray-30);
    /* night */
    /* --y-bg-20: var(--y-scales-blue-gray-80);
    --y-bg-30: var(--y-scales-blue-gray-75);
    --y-bg-40: var(--y-scales-blue-gray-70);
    --y-bg-light-brand: var(--y-scales-blue-gray-100);
    --y-bg-brand: var(--y-scales-brand-blue-70);
    --y-bg-dark: var(--y-scales-blue-gray-75);
    --y-bg-dark-brand: var(--y-scales-brand-blue-100);
    --y-bg-light: var(--y-scales-blue-gray-90);
    --y-bg-primary: var(--y-scales-blue-gray-100);
    --y-bg-disabled-bg: var(--y-scales-blue-gray-60);
    --y-bg-skeleton-fill: var(--y-scales-blue-gray-60);
    --y-bg-blocked-bg: var(--y-scales-red-100);
    --y-input-bg: var(--y-scales-blue-gray-90);
    --y-input-border: var(--y-scales-blue-gray-70);
    --y-border-border-10: var(--y-scales-gray-100);
    --y-border-border-20: var(--y-scales-blue-gray-80);
    --y-border-brand: var(--y-scales-brand-blue-70);
    --y-text-primary: var(--y-scales-blue-gray-10);
    --y-text-secondary: var(--y-scales-blue-gray-20);
    --y-text-tertiary: var(--y-scales-blue-gray-0);
    --y-text-placeholder20: var(--y-scales-blue-gray-50);
    --y-text-placeholder10: var(--y-scales-blue-gray-40);
    --y-text-disabled: var(--y-scales-blue-gray-60);
    --y-text-inverse: var(--y-scales-gray-0);
    --y-text-brand: var(--y-scales-brand-blue-60);
    --y-text-risk: var(--y-scales-yellow-30);
    --y-text-danger: var(--y-scales-red-50);
    --y-text-success: var(--y-scales-green-50);
    --y-primaries-brand-blue: var(--y-scales-brand-blue-70);
    --y-primaries-red: var(--y-scales-red-60);
    --y-primaries-green: var(--y-scales-green-50);
    --y-primaries-orange: var(--y-scales-orange-50);
    --y-primaries-yellow: var(--y-scales-yellow-40);
    --y-primaries-purple: var(--y-scales-purple-60);
    --y-btn-text: var(--y-scales-blue-gray-10);
    --y-btn-hover-text: var(--y-scales-blue-gray-20);
    --y-btn-bg: var(--y-scales-blue-gray-90);
    --y-btn-hover-bg: var(--y-scales-blue-gray-100);
    --y-btn-border: var(--y-scales-blue-gray-80);
    --y-btn-hover-border: var(--y-scales-blue-gray-70);
    --y-btn-active-bg: var(--y-scales-blue-gray-80);
    --y-btn-secondary-text: var(--y-scales-blue-gray-20);
    --y-btn-secondary-hover-text: var(--y-scales-blue-gray-20);
    --y-btn-secondary-bg: var(--y-scales-blue-gray-100);
    --y-btn-secondary-hover-bg: var(--y-scales-blue-gray-90);
    --y-btn-secondary-border: var(--y-scales-blue-gray-90);
    --y-btn-secondary-hover-border: var(--y-scales-blue-gray-80);
    --y-btn-secondary-active-bg: var(--y-scales-blue-gray-80);
    --y-btn-primary-text: var(--y-scales-brand-blue-70);
    --y-btn-primary-hover-text: var(--y-scales-brand-blue-80);
    --y-btn-primary-bg: var(--y-scales-brand-blue-70);
    --y-btn-primary-hover-bg: var(--y-scales-brand-blue-60);
    --y-btn-primary-border: var(--y-scales-brand-blue-70);
    --y-btn-primary-hover-border: var(--y-scales-brand-blue-60);
    --y-btn-primary-active-bg: var(--y-scales-brand-blue-70);
    --y-btn-action-text: var(--y-scales-green-60);
    --y-btn-action-hover-text: var(--y-scales-green-70);
    --y-btn-action-bg: var(--y-scales-green-50);
    --y-btn-action-hover-bg: var(--y-scales-green-60);
    --y-btn-action-border: var(--y-scales-green-60);
    --y-btn-action-hover-border: var(--y-scales-green-70);
    --y-btn-action-active-bg: var(--y-scales-green-60);
    --y-btn-danger-text: var(--y-scales-red-50);
    --y-btn-danger-hover-text: var(--y-scales-red-70);
    --y-btn-danger-bg: var(--y-scales-red-50);
    --y-btn-danger-hover-bg: var(--y-scales-red-70);
    --y-btn-danger-border: var(--y-scales-red-50);
    --y-btn-danger-hover-border: var(--y-scales-red-70);
    --y-btn-danger-active-bg: var(--y-scales-red-80);
    --y-btn-generic-active-border: var(--y-scales-brand-blue-70);
    --y-btn-generic-focus-outline: #384dc7;
    --y-btn-generic-disabled-text: var(--y-scales-blue-gray-60);
    --y-btn-generic-disabled-bg: var(--y-scales-blue-gray-90);
    --y-btn-generic-disabled-border: var(--y-scales-gray-90);*/
} 